# ignore .git and .cache folders
.git
.cache

# ignore all markdown files (md) beside all README*.md other than README-secret.md
*.md
LICENSE

# ignore files used to set up docker
Dockerfile
.dockerignore

# ignore unused files
*.pyc